.git
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


# Cache/artefacte
localstack/
.localstack/
.logs/
dist/
build/

# Date runtime care NU trebuie în imagine
data/
*.db
*.sqlite

# Alte fișiere mari/temporare
*.log
*.rdb
*.aof
